.labDesigner {
  background: radial-gradient(circle farthest-side, #0074a5 20%, #026392 40%, #001245 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#0074a5, endColorstr=#001245, GradientType='1');
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 4px;
}
.labDesigner .lde-designer {
  margin: 0 auto;
}
.lde-toolbar {
  width: 100%;
  height: 50px;
  position: relative;
}
.lde-tools,
.lde-tip {
  position: absolute;
  top: 0;
  right: 0;
  list-style: none;
  margin: 0;
  padding-top: 10px;
  z-index: 100;
  padding-right: 10px;
}
.lde-tools > li {
  display: inline-block;
  background-image: url("../images/toolbar.sprite.png");
  width: 38px;
  height: 26px;
  margin-left: 5px;
  border: #003283 1px solid;
  border-radius: 4px;
  background-color: #002157;
  cursor: pointer;
}
.lde-tools > li:hover {
  background-color: #0054a6;
}
.lde-tools > li.zoomIn {
  background-position-y: -187px;
}
.lde-tools > li.zoomOut {
  background-position-y: -217px;
}
.lde-tools > li.actualSize {
  background-position-y: -810px;
}
.lde-tools > li.fullsize {
  background-position-y: -67px;
}
.lde-tools > li.move {
  background-position-y: -97px;
}
.lde-tools > li.download {
  background-position: -1px -8px;
}
.lde-tools > li.edit {
  background-position: -1px -497px;
}
.lde-tools > li.print {
  background-position-y: -840px;
}
.lde-tip {
  right: 300px;
}
.lde-tip > li {
  display: inline-block;
  padding-left: 10px;
  font-size: 16px;
  color: #fff;
}
.lde-tip > li > span {
  vertical-align: middle;
}
.lde-tip > li .icon {
  display: inline-block;
  width: 25px;
  height: 15px;
  border-radius: 5px;
  margin-right: 5px;
}
.lde-tip > li .low {
  background-color: #22d34e;
}
.lde-tip > li .middle {
  background-color: #e7df21;
}
.lde-tip > li .high {
  background-color: #f6684a;
}
.lde-tip > li .title {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #001245;
  border: #0af 1px solid;
  margin-right: 5px;
}
.lde-lengend {
  position: absolute;
  top: 65px;
  right: 10px;
  list-style: none;
  margin: 0;
  z-index: 100;
  border: #07437e 1px solid;
  border-radius: 4px;
  background-color: rgba(0, 33, 87, 0.8);
  padding: 20px;
  padding-bottom: 0;
  text-align: center;
  color: #0af;
}
.lde-lengend > li {
  padding-bottom: 20px;
}
.lde-lengend .icon {
  width: 24px;
  height: 44px;
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;
}
.lde-lengend .icon.powerCab {
  background-image: url("../images/power-down.png");
}
.lde-lengend .icon.netCab {
  background-image: url("../images/net-down.png");
}
.lde-lengend .icon.toggleCab {
  background-image: url("../images/toggle-down.png");
}
.lde-lengend .icon.lineCab {
  background-image: url("../images/line-down.png");
}
.lde-lengend .icon.cab {
  background-image: url("../images/cab-down.png");
}
.lde-lengend .icon.airCon {
  background-image: url("../images/air-left.png");
}
.lde-lengend .icon.devCab {
  background-image: url("../images/cab-dev.png");
}
.lde-lengend .icon.iondCab {
  background-image: url("../images/cab-iond.png");
}
.lde-lengend .icon.serverCab {
  background-image: url("../images/cab-server.png");
}
.lde-tooltip {
  padding: 10px;
  width: 400px;
}
.lde-tooltip > div {
  padding-bottom: 10px;
}
.lde-tooltip > .title > span {
  color: #fff;
  font-size: 18px;
}
.lde-tooltip > .title > a {
  float: right;
  font-size: 14px;
  text-decoration: underline;
  color: #0af;
}
.lde-tooltip > .title > a:hover {
  color: #0088cc;
}
.lde-tooltip > .title > a:focus {
  outline: none;
}
.lde-tooltip > .rate {
  font-size: 14px;
  overflow: hidden;
}
.lde-tooltip > .rate .u {
  float: right;
}
.lde-tooltip .bar {
  display: inline-block;
  width: 100px;
  height: 20px;
  background-color: #002157;
  vertical-align: top;
  margin: 0 10px;
  overflow: hidden;
}
.lde-tooltip .bar > .success {
  height: 100%;
  background-color: #40ed73;
}
.lde-tooltip .devices {
  width: 100%;
  font-size: 14px;
}
.lde-tooltip .devices thead {
  background-color: #002157;
}
.lde-tooltip .devices thead th {
  padding: 5px;
}
.lde-tooltip .devices > tbody tr:hover {
  background-color: #002157;
}
.lde-tooltip .devices > tbody td {
  padding: 8px 5px;
}
.lde-tooltip .devices .name {
  color: #fff;
  display: inline-block;
  width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.lde-editor-toolbar {
  height: 50px;
  background-color: rgba(0, 33, 87, 0.8);
  border: #07437e 1px solid;
  position: relative;
  z-index: 200;
  list-style: none;
  margin: 0;
  padding: 5px;
}
.lde-editor-toolbar > li {
  display: inline-block;
  margin-right: 5px;
}
.lde-editor-toolbar > li.icon {
  background-image: url("../images/toolbar.sprite.png");
  width: 40px;
  height: 40px;
  border: transparent 1px solid;
  border-radius: 4px;
  cursor: pointer;
}
.lde-editor-toolbar > li.icon:hover {
  border: #07437e 1px solid;
}
.lde-editor-toolbar > li.icon.zoomIn {
  background-position-y: -180px;
}
.lde-editor-toolbar > li.icon.zoomOut {
  background-position-y: -210px;
}
.lde-editor-toolbar > li.icon.actualSize {
  background-position-y: -803px;
}
.lde-editor-toolbar > li.icon.undo {
  background-position-y: -150px;
}
.lde-editor-toolbar > li.icon.redo {
  background-position-y: -120px;
}
.lde-editor-toolbar > li.icon.del {
  background-position-y: -30px;
}
.lde-editor-toolbar > li.icon.save {
  background-position-y: -240px;
}
.lde-editor-toolbar > li.icon.clear {
  background-position-y: -400px;
}
.lde-editor-toolbar > li.icon.selectAll {
  background-position-y: -520px;
}
.lde-editor-toolbar > li.icon.restore {
  background-position-y: -640px;
}
.lde-editor-toolbar > li.separator {
  width: 1px;
  height: 100%;
  background-color: #07437e;
}
.lde-editor-toolbar > li.lde-editor-messagebar {
  float: right;
  height: 40px;
  line-height: 40px;
  display: none;
}
.lde-editor-toolbar > li.lde-editor-messagebar > .icon {
  background-image: url("../images/toolbar.sprite.png");
  display: inline-block;
  width: 20px;
  height: 20px;
  background-position: -10px -559px;
  vertical-align: middle;
  margin: 0 5px;
}
.lde-editor-toolbar > li.lde-editor-messagebar > .icon.warn {
  background-position: -10px -589px;
}
.lde-editor-toolbar > li.lde-editor-messagebar > .icon.error {
  background-position: -10px -619px;
}
.lde-editor-toolbar > li.lde-editor-messagebar > .icon.info {
  background-position: -10px -782px;
}
.lde-editor-toolbox,
.lde-editor-propbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  z-index: 100;
  padding-top: 50px;
}
.lde-editor-toolbox > .lde-editor-box,
.lde-editor-propbox > .lde-editor-box {
  background-color: rgba(0, 33, 87, 0.8);
  border: #07437e 1px solid;
  height: 100%;
  border-top-width: 0;
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
}
.lde-editor-toolbox > .lde-editor-box > li,
.lde-editor-propbox > .lde-editor-box > li {
  margin-bottom: 5px;
}
.lde-editor-toolbox > .lde-editor-box > li.selected .lde-editor-toolbox-title > .icon,
.lde-editor-propbox > .lde-editor-box > li.selected .lde-editor-toolbox-title > .icon,
.lde-editor-toolbox > .lde-editor-box > li.selected .lde-editor-propbox-cab-title > .icon {
  background-position: -10px -279px;
}
.lde-editor-toolbox > .lde-editor-box > li.selected .lde-editor-toolbox-item,
.lde-editor-propbox > .lde-editor-box > li.selected .lde-editor-toolbox-item {
  display: block;
}
.lde-editor-toolbox .toggle-icon,
.lde-editor-propbox .toggle-icon {
  background-image: url("../images/toolbar.sprite.png");
  width: 20px;
  height: 40px;
  position: absolute;
  top: 50%;
  right: -20px;
  margin-top: -20px;
  cursor: pointer;
  background-color: rgba(51, 122, 183, 0.4);
  border-radius: 0 40px 40px 0;
  background-position-x: -6px;
}
.lde-editor-toolbox .toggle-icon.left-hide,
.lde-editor-propbox .toggle-icon.left-hide {
  background-position-y: -332px;
}
.lde-editor-toolbox .toggle-icon.right-show,
.lde-editor-propbox .toggle-icon.right-show {
  background-position-y: -366px;
  left: 0;
}
.lde-editor-toolbox .toggle-icon.right-hide,
.lde-editor-propbox .toggle-icon.right-hide {
  background-position: -1px -366px;
  left: -20px;
  border-radius: 40px 0 0 40px;
}
.lde-editor-toolbox .toggle-icon.left-show,
.lde-editor-propbox .toggle-icon.left-show {
  background-position-y: -332px;
  left: auto;
  right: 0;
}
.lde-editor-toolbox-title,
.lde-editor-propbox-title,
.lde-editor-propbox-cab-title {
  background-image: url("../images/panel_bg.png");
  background-repeat: repeat;
  background-position: center;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  height: 40px;
}
.lde-editor-toolbox-title > .icon,
.lde-editor-propbox-cab-title > .icon {
  background-image: url("../images/toolbar.sprite.png");
  display: inline-block;
  width: 20px;
  height: 20px;
  background-position: -10px -309px;
  float: right;
}
.lde-editor-toolbox-item {
  margin: 0;
  padding: 10px 5px 5px;
  list-style: none;
  display: none;
}
.lde-editor-toolbox-item > li {
  display: inline-block;
  padding-left: 10px;
  vertical-align: top;
}
.lde-editor-toolbox-item > li > img {
  width: 24px;
  cursor: move;
}
.lde-editor-propbox {
  right: 0;
  left: auto;
}
.lde-editor-propbox > .lde-editor-box {
  overflow: hidden;
}
.mxPopupMenuIcon > .icon {
  background-image: url("../images/toolbar.sprite.png");
  width: 20px;
  height: 22px;
}
.mxPopupMenuIcon > .icon.del {
  background-position: -8px -38px;
}
.mxPopupMenuIcon > .icon.copy {
  background-position: -10px -439px;
}
.mxPopupMenuIcon > .icon.paste {
  background-position: -10px -469px;
}
.mxPopupMenuIcon > .icon.selectAll {
  background-position: -10px -529px;
}
.lde-editor-propbox-lab,
.lde-editor-propbox-cab {
  height: 100%;
  position: relative;
}
.lde-editor-propbox-title {
  cursor: default;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
}
.lde-editor-propbox-body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 40px;
  z-index: 100;
}
.lde-editor-propbox-lab-list,
.lde-editor-propbox-cab-item {
  list-style: none;
  margin: 0;
  padding-left: 10px;
  height: 100%;
  overflow-y: auto;
  text-align: center;
}
.lde-editor-propbox-lab-list > li,
.lde-editor-propbox-cab-item > li {
  display: inline-block;
  width: 134px;
  height: 100px;
  border: #07437e 1px solid;
  margin: 10px 10px 0 0;
  text-align: center;
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 5px 1px rgba(7, 67, 126, 0.3);
  float: left;
}
.lde-editor-propbox-lab-list > li > .icon,
.lde-editor-propbox-cab-item > li > .icon {
  background-image: url("../images/toolbar.sprite.png");
  background-position: 20px -679px;
  width: 100%;
  height: 60px;
  margin: 5px 0;
}
.lde-editor-propbox-lab-list > li > .checked-icon,
.lde-editor-propbox-cab-item > li > .checked-icon {
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
  background-image: url("../images/toolbar.sprite.png");
  background-position: -10px -559px;
  width: 20px;
  height: 20px;
}
.lde-editor-propbox-lab-list > li.selected,
.lde-editor-propbox-cab-item > li.selected {
  background-color: rgba(0, 43, 113, 0.8);
  border: #085096 1px solid;
  box-shadow: 0 0 5px 1px rgba(8, 80, 150, 0.3);
}
.lde-editor-propbox-lab-list > li.selected > .checked-icon,
.lde-editor-propbox-cab-item > li.selected > .checked-icon {
  display: block;
}
.lde-editor-propbox-lab-list > li > .title,
.lde-editor-propbox-cab-item > li > .title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 10px;
}
.lde-editor-propbox-cab-list {
  padding: 0;
  margin: 0;
  list-style: none;
  height: 100%;
  overflow: hidden;
}
.lde-editor-propbox-cab-list > li {
  border-top: #07437e 1px solid;
}
.lde-editor-propbox-cab-list > li.selected .lde-editor-propbox-cab-item {
  display: block;
}
.lde-editor-propbox-cab-list > li.selected .lde-editor-propbox-cab-title > .icon {
  background-position: -10px -279px;
}
.lde-editor-propbox-cab-title {
  height: 34px;
  padding: 7px 10px;
}
.lde-editor-propbox-cab-item {
  display: none;
  max-height: 500px;
  padding-bottom: 10px;
}
.lde-editor-propbox-cab-item > li {
  width: 62px;
  height: 50px;
}
.lde-editor-propbox-cab-item > li > .icon {
  background-image: url("../images/toolbar.sprite.png");
  background-position: 10px -749px;
  height: 23px;
  margin: 5px 0 1px 0;
}
.lde-designer-modal-mask {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;
}
.lde-designer-modal {
  width: 400px;
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgba(2, 98, 145, 0.9);
  border: #026291 1px solid;
  box-shadow: 0 0 5px 1px rgba(0, 170, 255, 0.3);
}
.lde-designer-modal-close {
  background-position: -10px -619px;
  font-size: 25px;
  line-height: 25px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.lde-designer-modal-close:hover {
  color: #66ccff;
}
.lde-designer-modal-body {
  height: 100%;
  padding: 25px;
  position: relative;
}
.lde-designer-modal-messager {
  text-align: center;
}
.lde-designer-modal-buttons {
  text-align: center;
  padding: 15px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.lde-designer-modal-buttons > button {
  margin: 0 10px;
  background-color: rgba(2, 98, 145, 0.9);
  border: #0af 1px solid;
  padding: 2px 15px;
  outline: none;
}
.lde-designer-modal-buttons > button:hover {
  background-color: #013b5d;
}
.lde-printer {
  position: absolute;
  top: 30px;
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}
.lde-body > div.mxPopupMenu {
  background: none;
  background-color: rgba(7, 67, 126, 0.9);
  border-color: #07437e;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}
.lde-body > div.mxPopupMenu tr.mxPopupMenuItem {
  color: #fff;
}
.lde-body > div.mxPopupMenu tr.mxPopupMenuItemHover {
  background-color: #07437e;
}
.lde-body > div.mxPopupMenu td.mxPopupMenuIcon {
  background-color: transparent;
}
.lde-body > div.mxPopupMenu td.mxPopupMenuItem {
  padding-right: 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
.lde-body > div.mxTooltip {
  background-color: rgba(7, 67, 126, 0.9);
  border-color: #0af;
  color: #0af;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
